@{

}
    <nav>
        <ul class="d-flex align-items-center justify-content-between">
            <li><a href="javascript:void(0)">About Us</a></li>
            <li><a href="javascript:void(0)">Businesses</a></li>
            <li><a href="javascript:void(0)">Investors</a></li>
            <li><a href="javascript:void(0)">Projects</a></li>
            <li><a href="javascript:void(0)">Sustainability</a></li>
            <li class="ps_d">
                <a href="javascript:void(0)">
                    Products & Solutions
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="15.008" height="8.918" viewBox="0 0 15.008 8.918">
                        <path id="Path_1" data-name="Path 1" d="M1555.5-19.993l6.8,6.8,6.8-6.8"
                              transform="translate(-1554.797 20.7)" fill="none" stroke="" stroke-width="2" />
                    </svg>
                </a>
            </li>
            <li class="hum_d">
                <a href="javascript:void(0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.544"
                         height="14.275" viewBox="0 0 17.544 14.275">
                        <g id="Group_8214" data-name="Group 8214" transform="translate(-22627.184 9604.25) rotate(90)">
                            <line id="Line_40" data-name="Line 40" y2="12.544" transform="translate(-9603.5 -22644.729)"
                                  fill="none" stroke="" stroke-width="1.5" />
                            <line id="Line_41" data-name="Line 41" y2="12.544"
                                  transform="translate(-9596.952 -22639.729)" fill="none" stroke="" stroke-width="1.5" />
                            <line id="Line_42" data-name="Line 42" y2="12.544"
                                  transform="translate(-9590.725 -22644.729)" fill="none" stroke="" stroke-width="1.5" />
                        </g>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>


