@using System.Data;
@using skipper_group_new.mainclass;
@model skipper_group_new.Models.clsTeamType;
@{
    Layout = "~/Views/Shared/_cms.cshtml";
    DataTable dt = ViewBag.LeadershipList as DataTable;
}
@Html.Raw(Model.ShortDesc)
@if (dt != null && dt.Rows.Count > 0)
{
    <section class="leadership_one">
        <div class="container">
            <div class="line-sec">
                <div class="vrtcl-line">
                    <figure>
                        <img src="/images/icon/vertical-line.svg" class="image2 reveal-image2"
                             alt="vertical-line">
                    </figure>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-11">
                    <div class="leadr_grid">
                        @if (dt.Rows.Count > 0)
                        {
                            foreach (DataRow row in dt.Rows)
                            {
                                <div class="ledr_bx">
                                    <figure class="image2">
                                        <img src="/uploads/SmallImages/@Convert.ToString(row["uploadphoto"])" alt="@Convert.ToString(row["name"])" class="img-fluid w-100">
                                        <figcaption>
                                            <h6>@Convert.ToString(row["name"])l</h6>
                                            <p>@Convert.ToString(row["designation"])</p>
                                        </figcaption>
                                        <img src="/images/icon/subtraction-103.svg" class="img-corner"
                                             alt="svg-icon">
                                    </figure>
                                    <a href="/leadership-details/@Convert.ToString(row["name"]).ToLower().ToSlug()/@Convert.ToInt16(row["teamid"])" class="links"></a>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
}

