
<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <img src="~/images/logo/logo.png" alt="Skipper Logo" class="footer-logo" />
            <p>Registered Office - 3A, Loudon Street,<br />Kolkata - 700017</p>
            <ul>
                <li>
                    <img src="~/images/icon/Icon-awesome-phone.svg" class="img-fluid"> <a href="+913322829327">
                        +91 33
                        22829327
                    </a>/ <a href="+913322825731"> 5731</a> / <a href="+913322825732"> 5732</a>
                </li>
                <li>
                    <img src="~/images/icon/Icon-material-email.svg" class="img-fluid"><a href="mailto:helpdesk@skipperlimited.com">helpdesk@skipperlimited.com</a>
                </li>
            </ul>
        </div>

        <div class="footer-middle">
            <div class="footer-links">
                <a href="#">About Us</a>
                <a href="#">Businesses</a>
                <a href="#">Product & Services</a>
                <a href="#">Projects</a>
                <a href="#">Investors</a>
                <a href="#">Sustainability</a>
                <a href="#">People</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
                <a href="#">Media Kit</a>
            </div>
            <hr />
            <div class="footer-bottom-links">
                <a href="#">What's New</a>
                <a href="#">Blog</a>
                <a href="#">Sitemap</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Disclaimer</a>
            </div>
        </div>

        <div class="footer-right">
            <div class="top-row">
                <h5>Find us on</h5>
                <div class="social-icons">
                    <a href="javascrupt:void(0)">
                        <figure><img src="~/images/icon/facebook-icon.svg" class="img-fluid"></figure>
                    </a>
                    <a href="javascrupt:void(0)">
                        <figure><img src="~/images/icon/x-icon.svg" class="img-fluid"></figure>
                    </a>
                    <a href="javascrupt:void(0)">
                        <figure><img src="~/images/icon/youtube-icon.svg" class="img-fluid"></figure>
                    </a>
                    <a href="javascrupt:void(0)">
                        <figure><img src="~/images/icon/insta-icon.svg" class="img-fluid"></figure>
                    </a>
                    <a href="javascrupt:void(0)">
                        <figure><img src="~/images/icon/linkdin-icon.svg" class="img-fluid"></figure>
                    </a>
                </div>
            </div>
            <p class="copyright">
                © Copyright 2025 Skipper Limited<br />
                Website Design and Development by <a href="">Sterco</a>
            </p>
        </div>
    </div>
</footer>


<!--------mobile menu start here---------->

<section class="mobile-bottom-menu">
    <ul>
        <li>
            <a href="javascript:void(0)" class="services togglee">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.455" height="21.846" viewBox="0 0 21.455 21.846">
                    <g id="electric-tower" transform="translate(-4.447 0.25)">
                        <path id="Path_7468" data-name="Path 7468"
                              d="M25.026,20.1H22.8L18.532,5.821h5.48V7.075a.625.625,0,1,0,1.251,0V5.2s0,0,0,0a.625.625,0,0,0-.282-.519L18.008.1a.626.626,0,0,0-.343-.1H12.673a.625.625,0,0,0-.343.1L5.369,4.673a.625.625,0,0,0-.282.519s0,0,0,0V7.075a.625.625,0,1,0,1.251,0V5.821h5.48L7.55,20.1H5.322a.625.625,0,0,0,0,1.251h19.7a.625.625,0,0,0,0-1.251ZM12.446,8.082,14.1,9.263l-2.55,1.823Zm6.354,3L16.25,9.263,17.9,8.082Zm.663,2.22L21.21,19.15,16.25,15.6Zm-.93-.873-3.359,2.4-3.359-2.4,3.359-2.4Zm-7.649.873L14.1,15.6,9.139,19.15Zm4.289,3.066L20.382,20.1H9.966Zm-1.893-11.8V1.251h3.785v3.32Zm5.036,0V1.8l4.225,2.77ZM12.031,1.8V4.571H7.8Zm5.2,4.026.3.994L15.174,8.495,12.825,6.815l.3-.994Z"
                              transform="translate(0 0)" fill="" stroke="" stroke-width="0.5" />
                    </g>
                </svg>

                <p>Businesses</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="employer togglee">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.304" height="21.304" viewBox="0 0 21.304 21.304">
                    <g id="pipe_2_" data-name="pipe (2)" transform="translate(0.15 0.15)">
                        <path id="Path_7469" data-name="Path 7469"
                              d="M19.774,11.733a4.312,4.312,0,0,0-4.308-4.308H12.348V6.195H8.656V7.425H7.425V1.231H8.656V0H0V1.231H1.231V9.271a4.312,4.312,0,0,0,4.308,4.308H8.656V14.81h3.692V13.579h1.231v6.195H12.348V21H21V19.774H19.774ZM6.195,1.231V2.461H2.461V1.231ZM5.538,12.348A3.08,3.08,0,0,1,2.461,9.271V3.692H6.195V8.656H8.656v3.692Zm5.579,1.231H9.887V7.425h1.231Zm1.231-1.231V8.656h3.118a3.08,3.08,0,0,1,3.077,3.077v5.579H14.81V12.348Zm2.461,6.195h3.733v1.231H14.81Z"
                              fill="" stroke="" stroke-width="0.3" />
                    </g>
                </svg>

                <p>Solutions</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="contact togglee">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.462" height="21.502" viewBox="0 0 21.462 21.502">
                    <path id="Icon_feather-phone-call" data-name="Icon feather-phone-call"
                          d="M23.128,17.335v3.011a2.007,2.007,0,0,1-2.188,2.007,19.861,19.861,0,0,1-8.661-3.081,19.57,19.57,0,0,1-6.022-6.022,19.861,19.861,0,0,1-3.081-8.7,2.007,2.007,0,0,1,2-2.188H8.184a2.007,2.007,0,0,1,2.007,1.726,12.886,12.886,0,0,0,.7,2.82,2.007,2.007,0,0,1-.452,2.118L9.167,10.3a16.058,16.058,0,0,0,6.022,6.022l1.275-1.275a2.007,2.007,0,0,1,2.118-.452,12.886,12.886,0,0,0,2.82.7A2.007,2.007,0,0,1,23.128,17.335Z"
                          transform="translate(-2.417 -1.612)" fill="rgba(0,0,0,0)" stroke="" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="1.5"></path>
                </svg>
                <p>Contact</p>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="menu togglee">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.788" height="16.721" viewBox="0 0 19.788 16.721">
                    <g id="Hamberger" transform="translate(-310.5 -73.75)">
                        <line id="Line_1" data-name="Line 1" x2="19.788" transform="translate(310.5 74.5)" fill="none"
                              stroke="" stroke-width="1.5"></line>
                        <line id="Line_2" data-name="Line 2" x2="19.788" transform="translate(310.5 82.111)" fill="none"
                              stroke="" stroke-width="1.5"></line>
                        <line id="Line_3" data-name="Line 3" x2="19.788" transform="translate(310.5 89.721)" fill="none"
                              stroke="" stroke-width="1.5"></line>
                    </g>
                </svg>
                <p>Menu</p>
            </a>
        </li>
    </ul>
    <div class="services_wrap m-pop sec">
        <div class="coffered_mobile">
            <div class="mobile-infra">
                <div class="m-infra_box">
                    <div class="top_icon"><img alt="" src="~/images/icon/Subtraction-2.svg" class="img-fluid"></div>
                    <h3>
                        Engineering
                    </h3>
                    <div class="grpup_service">
                        <div class="group_ser_text">
                            <p>One of the world's largest integrated Transmission Tower manufacturing companies</p>
                            <div class="read_icon">
                                <a href="">
                                    <img alt=""
                                         src="~/images/icon/plus-icon.svg">
                                </a>
                            </div>
                        </div>
                        <figure>
                            <img alt=""
                                 src="~/images/m-eng.webp" class="img-fluid">
                        </figure>
                    </div>
                </div>

                <div class="m-infra_box">
                    <div class="top_icon"><img alt="" src="~/images/icon/Subtraction-2.svg" class="img-fluid"></div>
                    <h3>
                        Infrastructure
                    </h3>
                    <div class="grpup_service">
                        <div class="group_ser_text">
                            <p>The company is also engaged in EPC Projects in Power Transmission & Distribution, Telecom infra and Railway Structures</p>
                            <div class="read_icon"><a href=""><img alt="" src="~/images/icon/plus-icon.svg"></a></div>
                        </div>
                        <figure><img alt="" src="~/images/Infrastructure.png" class="img-fluid"></figure>
                    </div>
                </div>

                <div class="m-infra_box">
                    <div class="top_icon"><img alt="" src="~/images/icon/Subtraction-2.svg" class="img-fluid"></div>
                    <h3>
                        Polymer Pipes
                    </h3>
                    <div class="grpup_service">
                        <div class="group_ser_text">
                            <p>Skipper Limited is a national powerhouse in the Polymer Pipe business.</p>
                            <div class="read_icon"><a href=""><img alt="" src="~/images/icon/plus-icon.svg"></a></div>
                        </div>
                        <figure><img alt="" src="~/images/Polymer-Pipes.png" class="img-fluid"></figure>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="employer_wrap m-pop sec">
        <div class="solution_mobile">
            <div class="accordion-section">
                <!-- PRODUCTS ACCORDION -->
                <div class="accordion-title open" onclick="toggleAccordion(this)">
                    <span>Products</span>
                    <span class="toggle-icon">–</span>
                </div>
                <div class="accordion-content show">
                    <div class="category-title">Engineering</div>
                    <div class="category-list">
                        <a href="#">Transmission Towers</a>
                        <a href="#">Telecom Towers</a>
                        <a href="#">Poles</a>
                        <a href="#">Fasteners And Tower Accessories</a>
                        <a href="#">Hot Rolled Structures</a>
                        <a href="#">Railway Electrification Structures</a>
                    </div>

                    <div class="category-title">Polymer Sector</div>
                    <div class="category-list">
                        <a href="#">UPVC Pipes and Fittings</a>
                        <a href="#">CPVC Pipes and Fittings</a>
                        <a href="#">SWR Pipes and Fittings</a>
                        <a href="#">Rigid Pipes and Fittings</a>
                        <a href="#">Casing pipes</a>
                        <a href="#">Column pipes</a>
                        <a href="#">Ribbed Strainer pipes</a>
                    </div>
                </div>

                <!-- SOLUTIONS ACCORDION -->
                <div class="accordion-title" onclick="toggleAccordion(this)">
                    <span>Solutions</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="accordion-content">
                    <div class="category-title">Example Solutions</div>
                    <div class="category-list">
                        <a href="#">Energy Distribution</a>
                        <a href="#">Water Management</a>
                        <a href="#">Infrastructure Planning</a>
                        <a href="#">Turnkey Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_wrap m-pop sec">
        <div class="contact_mobile">
            <div class="contact_mobile_1">
                <h3>Skipper Limited</h3>
                <div class="map_icon"><img src="~/images/icon/Icon-material-location-on.svg" class="img-fluid"></div>
                <h4>Registered Office</h4>
                <p>3A, Loudon Street, Kolkata- 700017, India</p>
            </div>

            <div class="contact_mobile_2">
                <div class="contact_box1">
                    <div class="top_icon"><img alt="" src="~/images/icon/Subtraction-2.svg" class="img-fluid"></div>
                    <div class="contc_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.686" height="14.687" viewBox="0 0 14.686 14.687">
                            <path id="Icon_awesome-phone" data-name="Icon awesome-phone"
                                  d="M.533.705,3.516.017a.693.693,0,0,1,.789.4L5.682,3.628a.687.687,0,0,1-.2.8L3.745,5.854a10.631,10.631,0,0,0,5.083,5.083L10.251,9.2a.688.688,0,0,1,.8-.2l3.213,1.377a.7.7,0,0,1,.4.792l-.688,2.983a.688.688,0,0,1-.671.534A13.308,13.308,0,0,1,0,1.376.688.688,0,0,1,.533.705Z"
                                  transform="translate(0.001 0.001)" fill="" />
                        </svg>
                    </div>
                    <p><a href="tel:+913322895731">+91 33 2289 5731</a></p>

                </div>
                <div class="contact_box1">
                    <div class="top_icon"><img alt="" src="~/images/icon/Subtraction-2.svg" class="img-fluid"></div>
                    <div class="contc_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16.429" height="15.165" viewBox="0 0 16.429 15.165">
                            <path id="Icon_ionic-md-print" data-name="Icon ionic-md-print"
                                  d="M17.274,8.291H5.9a2.536,2.536,0,0,0-2.529,2.528V16.3H6.53v3.37H16.648V16.3H19.8V10.819A2.536,2.536,0,0,0,17.274,8.291ZM15.381,18.4H7.8V13.346h7.583ZM16.648,4.5H6.53V7.659H16.648V4.5Z"
                                  transform="translate(-3.375 -4.5)" fill="" />
                        </svg>
                    </div>
                    <p><a href="tel:+913322895731">+91 33 2289 5731</a></p>

                </div>
                <div class="contact_box1">
                    <div class="top_icon"><img alt="" src="~/images/icon/Subtraction-43.svg" class="img-fluid"></div>
                    <div class="contc_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15.828" height="12.662" viewBox="0 0 15.828 12.662">
                            <path id="Icon_material-email" data-name="Icon material-email"
                                  d="M17.245,6H4.583A1.581,1.581,0,0,0,3.008,7.583L3,17.079a1.587,1.587,0,0,0,1.583,1.583H17.245a1.587,1.587,0,0,0,1.583-1.583v-9.5A1.587,1.587,0,0,0,17.245,6Zm0,3.166-6.331,3.957L4.583,9.166V7.583l6.331,3.957,6.331-3.957Z"
                                  transform="translate(-3 -6)" fill="" />
                        </svg>
                    </div>
                    <p><a href="mailto:mail@skipperlimited.com">mail@skipperlimited.com</a></p>

                </div>

            </div>

            <div class="m_get_in"><a href="javascript:void(0)">Get in Touch</a></div>
        </div>



    </div>

    <div class="menu_wrap m-pop sec">
        <div class="menu_mobile">
            <div class="menu-section">
                <!-- about ACCORDION -->
                <div class="menu-title open" onclick="toggleMenu(this)">
                    <span>About Us</span>
                    <span class="toggle-icon">–</span>
                </div>
                <div class="menu-content show">
                    <div class="category-list">
                        <a href="#">Our Culture & Values</a>
                        <a href="#">Life at Skipper</a>
                        <a href="#">HR Initiatives</a>
                        <a href="#">Job Openings</a>
                    </div>
                </div>

                <!-- investor ACCORDION -->
                <div class="menu-title" onclick="toggleMenu(this)">
                    <span>Investors</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="menu-content">
                    <div class="category-list">
                        <a href="#">Energy Distribution</a>
                        <a href="#">Water Management</a>
                        <a href="#">Infrastructure Planning</a>
                        <a href="#">Turnkey Projects</a>
                    </div>
                </div>
                <!-- projects ACCORDION -->
                <div class="menu-title" onclick="toggleMenu(this)">
                    <span>Projects</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="menu-content">
                    <div class="category-list">
                        <a href="#">Energy Distribution</a>
                        <a href="#">Water Management</a>
                        <a href="#">Infrastructure Planning</a>
                        <a href="#">Turnkey Projects</a>
                    </div>
                </div>

                <!-- Sustainability ACCORDION -->
                <div class="menu-title" onclick="toggleMenu(this)">
                    <span>Sustainability</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="menu-content">
                    <div class="category-list">
                        <a href="#">Energy Distribution</a>
                        <a href="#">Water Management</a>
                        <a href="#">Infrastructure Planning</a>
                        <a href="#">Turnkey Projects</a>
                    </div>
                </div>
                <!-- People ACCORDION -->
                <div class="menu-title" onclick="toggleMenu(this)">
                    <span>People</span>
                    <span class="toggle-icon">+</span>
                </div>
                <div class="menu-content">
                    <div class="category-list">
                        <a href="#">Energy Distribution</a>
                        <a href="#">Water Management</a>
                        <a href="#">Infrastructure Planning</a>
                        <a href="#">Turnkey Projects</a>
                    </div>
                </div>
            </div>




            <div class="other_menu">
                <ul>
                    <li><a href="javascipt:void(0)">Media Kit</a></li>
                    <li><a href="javascipt:void(0)">Happenings</a></li>
                    <li><a href="javascipt:void(0)">Blog</a></li>
                    <li><a href="javascipt:void(0)">Clients</a></li>
                </ul>


            </div>

        </div>
    </div>

</section>