<!DOCTYPE html>

<html>
<head>
    @{
        Layout = "";
    }


    <style>
        h1 {
            color: #ad9523;
            font-size: 36px;
            margin-bottom: 20px;
        }

        h2 {
            color: #3a3a3a;
            ;
            font-size: 26px;
            margin-bottom: 15px;
        }

        h3 {
            color: #565656;
            font-size: 16px;
        }

        p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <div style="width: 1020px; max-width: 100%; height: 290px; margin: auto; position: absolute; right: 0; left: 0; bottom: 0; top: 0; text-align: center; background: antiquewhite; padding: 20px; box-shadow: 1px 0px 10px 5px #d4d4d4; ">

        <h1>404 error</h1>
        <h2>Sorry the page you're looking for was not found.</h2>
        <h3 style="margin-bottom:30px;">If you wish to go to Homepage, please click the button below.</h3>
        <a href="/" style="background: #ad9523; color: #ffffff; padding: 10px; margin-top: 20px; font-size: 18px; text-decoration: none; ">Back to home page</a>
    </div>

</body>

</html>