
:root {
    --font-family-body: "Roboto", sans-serif;
    /* --font-family-heading: "Roboto",sans-serif; */
    --font-Titillium: "Titillium Web",
        sans-serif;
    --font-72: 7rem;
    --font-60: 6rem;
    --font-48: 4.8rem;
    --font-42: 4.2rem;
    --font-36: 3.6rem;
    --font-30: 3rem;
    --font-24: 2.4rem;
    --font-21: 2.1rem;
    --font-18: 1.8rem;
    --font-16: 1.6rem;
    --font-14: 1.4rem;
    --colorf5: #F57C00;
    --color00: #004A70;
    --color33: #333333;
    --coloreb: #EBEBEB;
    --colorf2: #F2F2F2;
    --color66: #6692A9;
    --colorcc: #CCCCCC;
    --color99: #99B6C6;
    --color16: #16A5D0;
    --colore5: #E5ECF0;
    --colorfff: #fff;
    --xspace: 4.8px;
    --line-height-20: 2rem;
    --line-height-30: 3rem;
}

@media (min-width:2499px) {
    :root {
        --font-72: 8.5rem;
        --font-60: 7rem;
        --font-48: 5.2rem;
        --font-36: 4rem;
        --font-30: 3.5rem;
        --font-24: 3rem;
        --font-21: 2.8rem;
        --font-18: 2.2rem;
        --font-16: 1.8rem;
    }

}

@media (max-width:1699px) {
    :root {
        --font-72: 6.5rem;
        --font-60: 5.2rem;
        --font-48: 4.4rem;
        --font-42: 3.8rem;
        --font-36: 3rem;
        --font-30: 2.5rem;
        --font-24: 2rem;
        /* --font-21: 1.8rem; */
        /* --font-18: 1.6rem; */
        --font-16: 1.5rem;
        --font-14: 1.3rem;
    }
}


@media (max-width:1400px) {
    :root {
        --font-72: 6rem;
        --font-60: 5rem;
        --font-48: 4rem;
        --font-42: 3.8rem;
        --font-36: 3rem;
        --font-30: 2.5rem;
        --font-24: 2rem;
        --font-21: 1.8rem;
        --font-18: 1.6rem;
        --font-16: 1.4rem;
        --font-14: 1.3rem;
        --line-height-30: 2.5rem;
    }
}
@media (max-width:1200px) {
    :root {
       
        --font-48: 3rem;
        --font-60: 4rem;
       
    }
}
@media (max-width:992px) {
    :root {
    --line-height-30: 2.5rem;
    }
    .pb-100 {
    padding-bottom: 5rem;
}

}
@media (max-width:575px) {
    :root {
    --font-60: 3.3rem;
    --font-48: 2.6rem;
    --font-36: 2.2rem;
    }
}
.pb-100 {
    padding-bottom: 10rem;
}
@media (max-width:992px) {
    .pb-100 {
    padding-bottom: 5rem;
}

}
figure {
    margin: 0;
}

.text18 {
    font-size: var(--font-18);
}

.text16 {
    font-size: var(--font-16);
}

.text24 {
    font-size: var(--font-24);
}

.text36 {
    font-size: var(--font-36);
}

.text30 {
    font-size: var(--font-30);
}

.text48 {
    font-size: var(--font-48);
}

.text60 {
    font-size: var(--font-60);
}

html,
body {
    margin: 0;
    background: #f2f2f2;
    scroll-behavior: smooth;
    font-size: 62.5%;
    color: #000;
    line-height: 1.2;
    font-family: var(--font-family-body);
    overflow-x: hidden;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

p {
    font-size: var(--font-18);
    line-height: var(--line-height-30);
    font-weight: 200;
    color: var(--color33);
}

a,
ul,
li {
    font-size: var(--font-16);
    text-decoration: none;
    list-style: none;
}

.custom-button {
    background-color: var(--colorf5);
    /* orange */
    color: white;
    padding: 1.3rem 3rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-16);
    display: inline-block;
    transition: background-color 0.3s;
    margin-top: 4.6rem;
}

.custom-button:hover {
    background-color: var(--color00);
}

.custom-btn {
    background: var(--colorf5);
    border: none;
    z-index: 1;
    color: #fff;
    border-radius: 1rem;
    padding: 1.3rem 3rem;
    font-size: var(--font-16);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    margin-top: 4rem;
}

.custom-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #FF901D;
    border-radius: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    color: #fff;
}

.custom-btn:hover:after {
    left: 0;
    width: 100%;
}


.w-full {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.links {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0;
}


.custom_list {
    padding-left: 0;
}
.custom_list li {
    position: relative;
    padding-inline: 3rem 0;
    margin-bottom: 1.5rem;
    font-size: var(--font-18);
    line-height: var(--line-height-30);
    font-weight: 200;
    color: var(--color33);
}

.custom_list li:last-child {margin-bottom: 0;}
.custom_list li::before {
  content: "";
    width: 9px;
    height: 9px;
    background: #F57C00;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 9px;
}
.tower_pto_group .custom_list{margin-top: 1rem;}
.tower_pto_group .custom_list li{margin-bottom: 1rem;}
/*animation css*/


@media(min-width:991px){
    .image,
.image2,
.image3 {
    opacity: 0;
}


.image4::before {
    scale: 0 1;
}

.reveal-image,
.reveal-image:after {
    position: absolute;
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-duration: 1200ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.reveal-image2,
.reveal-image2:after {
    position: absolute;
    animation-delay: .1s;
    animation-iteration-count: 1;
    animation-duration: 1200ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.reveal-image {
    opacity: 1;
    position: relative;
    animation-name: reveal-image;
}

.reveal-image2 {
    opacity: 1;
    position: relative;
    animation-name: reveal-image2;
}

.reveal-image3 {
    opacity: 1;
    position: relative;
    animation-name: fadeInline1;
    animation-delay: .1s;
    animation-iteration-count: 1;
    animation-duration: 1200ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transform-origin: top;
}

.reveal-image4::before {
    scale: 0 1;
    position: relative;
    animation-name: fadeInline2;
    animation-delay: .5s;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transform-origin: left;
}

/* .reveal-image3 {opacity: 1;position: relative;animation-name: fadeInline1;animation-delay: .1s;animation-iteration-count: 1;animation-duration: 1800ms;animation-fill-mode: both;animation-timing-function: ease-in-out; transform-origin: top;} */

@keyframes reveal-image {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes reveal-image2 {
    from {
        clip-path: inset(0 0% 100% 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        margin-left: -25%;
    }

    to {
        opacity: 1;
        margin-left: 0%;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        margin-left: 30%;
    }

    to {
        opacity: 1;
        margin-left: 0%;
    }
}

@keyframes fadeInline1 {
    0% {
        opacity: 0;
        scale: 1 0
    }

    100% {
        opacity: 1;
        scale: 1 1;
    }
}

@keyframes fadeInline2 {
    0% {
        opacity: 0;
        scale: 0 1
    }

    100% {
        opacity: 1;
        scale: 1 1;
    }
}
}

.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(50% / (var(--ratio)));
}

.v-line4 {
    width: 10px;
    height: 125px;
    position: absolute;
    left: 0;
    background: var(--colorf5);
    bottom: 0;
    z-index: 1;
}

.v-line_new:before {
    content: "";
    width: 10px;
    height: 59px;
    position: absolute;
    left: 0;
    background: #E4C2FC;
    top: 0;
    z-index: 1;
}

.v-line_new {
    width: 10px;
    height: 403px;
    position: absolute;
    left: 0;
    background: #AEEA00;
    top: 0;
    z-index: 1;
}

.container-full {
    max-width: 1640px;
    margin: auto;
}

.white-bg {
    background: #fff;
}
.rounded-30{
    border-radius: 1.5rem;
}
footer img {
    width: 100%;
}

.people_sustain a:hover {
    color: #004A70 !important;
}

.home_experience_slider h2 {
    margin-left: -24rem;
}



@media (min-width: 1199px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl,
    .footer-container {
        max-width: 1100px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl,
    .footer-container {
        max-width: 1290px;
    }
}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl,
    .footer-container {
        max-width: 1490px;
    }
}



a.streched_link {position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;z-index: 2;margin:0;}
.swiper-button-prev,
.swiper-button-next {position: absolute;top: 50%;width: 4.1rem !important;height: 4.1rem !important;margin-top: -22px;z-index: 10;cursor: pointer;background-size: cover !important;background-position: center;background-repeat: no-repeat;background-image: url(../images/icon/right-round-arrow.svg) !important;}
.swiper-button-prev {rotate: 180deg;left: 0 !important;}
.title-48 {font-size: var(--font-48);line-height: 1;}
.title-36 {font-size: var(--font-48);line-height: 1;}
.title-24 {font-size: var(--font-24);line-height: 1;}
ul.list1 li {position: relative;}
ul.list1 li:after {content: "";width: 9px;height: 9px;background: #F57C00;position: absolute;left: 0;border-radius: 50%;top: 6px;}
ul.list1 {padding: 0;}
ul.list1 li {margin-bottom: 3rem;font-weight: 300;padding-inline: 3rem;color: #333333;}
.top_icon {position: absolute;top: 0;left: 0;z-index: 1;}
.bottom_icon {position: absolute;bottom: 0;right: 0;z-index: 1;}
.image-scale {overflow: hidden;}
.image-scale img {transform: scale(1);transition: .5s ease all;}
.image-scale:hover img {transform: scale(1.1);transition: .5s ease all;}
.container_mid {max-width: 1683px;margin: auto;position: relative;}


@media (max-width: 991px) {
.swiper-button-prev,
.swiper-button-next{width: 3rem !important;height:3rem !important;}
.tab-content>.tab-pane {
    background: none;
    display: block;
    opacity: 1;
    height: auto;
    margin-bottom: 1rem;

}
.swiper-button-prev {
    left: 21px !important;
}
.accordion-body figure {
    height: auto;
}
.accordion-body figure img {
    height: auto;
}
.accordion-button {
    font-size: var(--font-21);
    color: var(--colorfff);
    background-color: var(--color00);
}
.accordion-button:not(.collapsed) {
    color: var(--colorfff);
    background-color: var(--colorf5);
    box-shadow: none;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: contain;
    transition: var(--bs-accordion-btn-icon-transition);
    filter: invert(1) brightness(4.5);
}
}

