/*home banner css start here*/
.swiper-slide-active {
    z-index: 3;
}

.cta {
    padding: 12% 0;
}

.cta__slider-wrapper {
    position: relative;
    width: 100%;
    float: left;
    height: 100vh;
}

.cta__slider-wrapper .block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.cta__slider {
    min-height: 50vh;
}

.cta__slider .swiper-slide {
    overflow: hidden;
    display: grid;
    align-items: flex-end;
}

.cta__slider-arrows {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cta__slider-arrow {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}

.cta__slider-arrow.cta__slider-arrow--previous {
    left: 0;
}

.cta__slider-arrow.cta__slider-arrow--next {
    left: 50%;
}

.cta__slider-item {
    position: relative;
}

.cta__slider-item .media-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.cta__slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cta__slider-counter {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 20px 40px;
    color: #ffffff;
}

.cta__cta {
    padding-top: 12%;
    max-width: 480px;
}

.custom-pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 0;
    position: absolute;
    bottom: 25%;
    right: 7rem;
    z-index: 99;
    flex-wrap: wrap;
    flex-direction: column;
}

.custom-pagination-img {
    width: 9px;
    height: 9px;
    cursor: pointer;
    opacity: .5;
    transition: opacity 0.3s ease;
    background: #fffdfd;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    text-indent: -99999px;
    margin-top: 1rem;
}

.custom-pagination-img.active {

    /* Active image style */

    opacity: 1;
    /* Optional: add a border or change style for active image */

    /* text-indent: -99999px; */
}

#canvas-slider-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    /* Ensure it doesn't block interactions */
}


.home_banner .caption p {
    color: #fff;
    margin-top: auto;
    font-weight: 300;
    line-height: 1.3;
    width: 74rem;
}



.home_banner .swiper-slide picture {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.home_banner .swiper-slide-active picture {
    animation-duration: 1s;
    animation-name: clipin;
    animation-fill-mode: both;
    transition-delay: 0s;
    animation-timing-function: linear;
}

@keyframes clipin {
    from {
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0);
        opacity: 1;
        clip-path: polygon(0 0, 0 0, 0 0, 0 0, 0 0);
    }

    30% {
        -webkit-clip-path: polygon(0 0, 33% 0, 33% 0, 0 99%, 0 100%);
        clip-path: polygon(0 0, 33% 0, 33% 0, 0 99%, 0 100%);
    }

    80% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 81% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 0, 81% 100%, 0 100%);
    }

    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
    }
}


.cta__slider .swiper-slide>* {
    grid-area: 1/1;
}

.caption {
    position: relative;
    padding-inline: 9.4rem;
    color: #fff;
    padding-block: 0 12rem;
    z-index: 9999999;
}

.caption h2 {
    position: relative;
}


.caption h2:after {
    content: "";
    width: 60px;
    height: 1px;
    background: #FFF560;
    display: flex;
    margin: 2rem 0;
}

.caption h2 {
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

.caption h3 {
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
    margin-bottom: 1.8rem;
}

.caption p {
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

.swiper-slide-active .caption h2,
.swiper-slide-active h2+h3,
.swiper-slide-active h2+h3+p {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

/* .cta__slider-item:nth-child(1) .caption h2 {

    transition: all 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

.cta__slider-item:nth-child(1) .caption p {

    transition: all 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

.cta__slider-item:nth-child(1).swiper-slide-active  .caption h2,
.cta__slider-item:nth-child(1).swiper-slide-active  h2+p {
    transform: translate3d(0, 0, 0);
    opacity: 1;
} */



.v-group {
    /* position: absolute; */
    /* bottom: 7%; */
    height: 270px;
}

.v-line {
    width: 15px;
    visibility: visible;
    /* Make it visible */
    opacity: 1;
    /* Make it fully opaque */
    background: var(--colorf5);
    content: "";
    /* position: absolute; */
    /* top: 0; */
    /* Start from the top */
    left: 0px;
    z-index: 99999;
    transition: height .5s cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
    /* Animate height */
    height: 0px;
    /* Start with 0 height */
}


.v-line.active {
    opacity: 1;
    visibility: visible;
    height: 239px;
}

section.skipper_video {
    margin: 0rem;
    position: relative;
    overflow: hidden;
    display: grid;
    text-align: center;
    background: #f2f2f2;
}

/* Skipper video section */
.skipper_video {
    position: relative;
    overflow: hidden;
    height: 70vh;
    /* Video container takes up 70% of the viewport height */
    /* background: #000; /* Black background to make the video stand out */
}

.video-wrapper {
    position: relative;
    z-index: 10;
    transition: transform 0.1s ease-out;
    /* Smooth transition for the video movement */
    height: 100%;
    /* Make sure the wrapper takes the full height of the section */
}

/* Video container inside the wrapper */
.video-container video {
    object-fit: cover;
    /* Ensures video covers the area and does not distort */
    width: 100%;
    height: 100%;
}

section.home_banner {
    height: 100vh;
    position: relative;
}

.video video {
    object-fit: cover;
    width: 100%;
    height: 71vh;
}

.video-container:after {
    content: "";
    width: 100%;
    height: 100%;
    background: #00000057;
    position: absolute;
    top: 0;
    left: 0;
}

section.skipper_video>* {
    grid-area: 1/1;
}

.video-caption p {
    font-size: var(--font-48);
    color: #fff;
}

.cta__slider-item:after {
    content: "";
    width: 100%;
    height: 50%;
    background: transparent linear-gradient(0deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9
}

.cta__slider-item:nth-child(1):after {
    opacity: 30%;
}

.cta__slider-item:nth-child(2):after {
    opacity: 0%;
}

.cta__slider-item:nth-child(3):after {
    opacity: 85%;
}

.video-caption {
    position: relative;
    z-index: 9;
}

.img-fix {
    width: 100%;
    height: 700px;
    background-attachment: fixed !important;
    background-size: cover !important;
    position: relative;
}

.video {
    display: grid;
    overflow: hidden;
    align-items: center;
}

.video>* {
    /* grid-area: 1 / 1; */
}

.video-fix {
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -9999;
}

.video-wrapper {
    position: relative;
    overflow: hidden;
}

div#close-video {
    background: #00000070;
    width: 37px;
    height: 37px;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

div#close-video img {
    filter: invert(1);
    opacity: .5;
    position: relative;
    top: .5rem;
}



/*home project css*/
.home_experience_slider {
    max-width: calc(100% - 0vw);
    margin-left: auto;
    overflow-x: hidden;
}

.projects {
    padding-block: 10rem;
    overflow: hidden;
    position: relative;
    background: #F2F2F2;
}

.projects .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    background: rgba(0, 0, 0, 0.4);
}

.projects .swiper-container .swiper-wrapper {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.home_experience_slider h2 {
    top: 9rem;
    position: relative;
    z-index: 9;
    padding-inline: 7rem;
    color: #fff;
    font-weight: 500;
    font-size: var(--font-24);
}

figure.img_zoom {
    display: grid;
    align-items: flex-end;
    overflow: hidden;
}

figure.img_zoom>* {
    grid-area: 1/1;
}

figure.img_zoom figcaption {
    color: #fff;
    padding: 5rem 8rem;
    position: relative;
    opacity: 0;
    transition: .8s ease all;
    transform: translate(0px, 133px);
    transition-delay: .5s;
    width: 100%;
}

figure.img_zoom figcaption:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent linear-gradient(0deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.42;
}

figure.img_zoom figcaption blockquote {
    font-size: var(--font-30);
    position: relative;
    z-index: 1;
}

figure.img_zoom figcaption p {
    font-size: var(--font-16);
    position: relative;
    z-index: 1;
    font-family: var(--font-family-heading);
    font-weight: normal;
}


.projects .swiper-button-next {
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    right: 3rem;
}

.projects .swiper-button-prev {
    background: #ffffff00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 4em;
    margin-top: -2rem;
    border: 1px solid #fff;
}

.project_tabnav img {
    filter: invert(1);
}

body .video-container .mute-toggle {
    position: absolute;
    bottom: 3rem;
}



.video-container .mute-toggle {
    position: absolute;
    bottom: 40rem;
    right: 3rem;
    width: 4rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    backdrop-filter: blur(10px);
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.video-container .mute-toggle::before {
    content: '';
    position: absolute;
    inset: 25%;
    background-size: contain;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    background-repeat: no-repeat;
    background-position: center;
}

.video-container .mute-toggle::before {
    background-image: url('../images/icon/unmute.webp')
}

.video-container .mute-toggle.muted::before {
    background-image: url('../images/icon/mute.webp')
}

.video-container .mute-toggle {
    z-index: 5;
    background-color: #fff3;
}


.swiper-slide.swiper-slide-active .slide-image,
.swiper-slide.swiper-slide-duplicate-active .slide-image img {
    /* transform: scale3d(1, 1, 1); */
}

@media (min-width: 768px) {

    .swiper-slide.swiper-slide-next .slide-image img,
    .swiper-slide.swiper-slide-prev .slide-image img,
    .swiper-slide.swiper-slide-duplicate-next .slide-image img,
    .swiper-slide.swiper-slide-duplicate-prev .slide-image img {
        /* transform: scale3d(1, 1, 1); */
    }
}

.projects .slide-image img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* transform: scale3d(1.3, 1.3, 1); */
    backface-visibility: hidden;
    will-change: transform;
    transition: transform 1400ms ease;
}

.projects figure.img_zoom {
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    height: 75vh;
}

.people_group:after {
    display: none;
}

.v-lin2 {
    width: 15px;
    height: 136px;
    background: #F57C00;
    position: absolute;
    left: 0;
    bottom: 2rem;
    z-index: 9
}

.new_people {
    background: #F2F2F2;
    padding: 5.9rem 0 10rem;
    border-top: 1px solid #ddd;
}

/*home happening css*/


section.happenings {
    background: #F2F2F2;
    padding: 4.9rem 0 15rem;
    color: #fff;
}

.happenings h2 {
    text-align: center;
    margin-bottom: 4rem;
    color: #000;
    font-weight: 600;
}

.happenings blockquote {
    text-align: center;
    color: #000;
    margin-bottom: 8rem;
}

.date {
    font-size: var(--font-16);
    margin-bottom: 2rem;
    color: #ccc;
    font-weight: 500;
    font-family: var(--font-family-heading);
    color: #333333 !important;

}

.happenings figcaption {
    padding-block: 3rem;
    position: relative;
    padding-inline: 6rem;
}

.happenings figcaption h3 {
    padding-inline: 0 10rem;
    font-weight: normal;
    line-height: 1.4;
}

.read-more {
    position: absolute;
    top: 8rem;
    right: 3rem;
}

section.happenings .col-md-6 {
    padding: 1.5rem;
    margin-bottom: 2rem;
    display: grid;
    align-items: flex-end;
}

.happenings_img1 {
    margin-top: 1.52rem;
    position: relative;
}

.happenings_img1_detail {
    width: 445px;
    background: #336E8C;
    padding-inline: 5rem;
    padding-block: 3rem;
    margin-left: 8.7rem;
    margin-top: -15.9rem;
}

.happenings .happenings_img1_detail h3 {
    padding-inline: 0 5rem;
    display: block;
    margin-bottom: 2rem;
}

.happenings .happenings_img1_detail .read-more {
    position: static;
}

.happenings .happenings_img1_detail .date {
    color: #fff;
}

.happenings_img2 {
    position: relative;
}

.happenings_img1 .v-line4 {
    height: 190px;
}

.v1 .reveal-image2 {
    animation-delay: .5s;
}

.v2 .reveal-image2 {
    animation-delay: .7s;
}

.v3 .reveal-image2 {
    animation-delay: .9s;
}

.v4 .reveal-image2 {
    animation-delay: 1.1s;
}

.happenings figure img {
    /* transform: scale(1); */
    transition: .5s ease all;
}

.happenings figure:hover img {
    transform: scale(1.1);
    transition: .5s ease all;
}

.happenings figure {
    overflow: hidden;
}


/*about css start here*/

section.about-panel {
    background: #F2F2F2;
    text-align: center;
    padding: 10.7rem 0 0rem;
}

section.about-panel .container {
    display: grid;
}

section.about-panel .container>* {
    grid-area: 1/1;
    justify-content: center;
    align-items: center;
}

section.about-panel h2 {
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
}

section.about-panel h1 {
    margin-block: 5rem;
    line-height: 2;
    font-weight: 300;
}

.read_more {
    color: #004A70;
}

.read_more svg {
    stroke: currentColor;
}

.number_value {
    margin-block: 8rem;
}

.number_value ul {
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 0;
}

.number_value h3 {
    font-size: var(--font-72);
    color: #004A70;
    font-weight: 500;
    font-family: var(--font-family-heading);
}

.number_value li {
    position: relative;
    padding-inline: 11rem;
}

.number_value li:after {
    content: "";
    width: 1px;
    height: 152px;
    background: #F57C00;
    position: absolute;
    top: 14px;
    right: 0;
}

.number_value li:last-child:after {
    display: none;
}

section.about-panel h1 b {
    color: #F57C00;
    font-weight: normal;
}

.union {
    margin-top: -10rem;
}

.number_value li p {
    color: #666666;
    font-size: var(--font-18);
    margin-bottom: 0;
}

/*sustainbility css*/

section.people_sustain {
    background: #f2f2f2;
    padding-block: 6rem;
    border-top: 1px solid #CCCCCC;
}

.img_box_detail {
    padding: 4rem 3rem 6rem 5rem;
    background: #E5ECF0;
}

.num_figure h3 {
    font-size: var(--font-48);
    color: #004A70;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 1rem;
    font-family: var(--font-family-heading);
}

.img_des p,
.num_figure p {
    color: #666666;
    font-size: var(--font-18);
}

.img_des h2 {
    font-weight: 600;
    margin-bottom: 3rem;
}

.num_figure {
    margin-top: 5rem;
    border-left: 1px solid #004a702e;
    padding-left: 3rem;
    margin-left: 2rem;
}

.img_box_detail a {
    font-size: 18px;
    color: #000;
    margin-right: 2rem;
    border-bottom: 1px solid #004a702e;
    padding-bottom: 1rem;
    font-weight: 600;
}

.img_des .read_more {
    margin-block: 3rem 4rem;
}

.img_box_detail.white-bg {
    background: #fff;
}

video#video2 {
    object-fit: cover;
}

.col-md-6.one-val .img-box {
    display: grid;
}

.col-md-6.one-val .img-box>* {
    grid-area: 1/1;
}

.certified {
    position: relative;
    width: 9rem;
    margin-left: 6rem;
}

.people_sustain .container.container-full {
    /* border-top: 1px solid #ddd; */
}

section.people_sustain .col-md-6 {
    padding-inline: 2rem;
}

section.happenings .col-md-6>* {
    grid-area: 1/1;
}

section.happenings .happenings_img2:after {
    content: "";
    width: 100%;
    height: 50%;
    background: transparent linear-gradient(0deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    opacity: 0.69;
    position: absolute;
    bottom: 0;
    left: 0;
}

.happenings figcaption .date {
    position: relative;
    z-index: 1;
    color: #fff;
}

.happenings figcaption h3 {
    position: relative;
    z-index: 1;
    color: #fff;
}

.happenings figcaption .read-more {
    z-index: 1;
    color: #fff;
}

.happenings_img1_detail figcaption:after {
    display: none;
}

.happenings_img1_detail figcaption {
    padding-inline: 0rem;
}

.col-md-4 .happenings_img1_detail .v-line4 {
    left: 0;
    bottom: 0;
    height: 100%;
}

.col-md-4 .happenings_img1_detail figcaption {
    padding-inline: 6rem 4rem;
    padding-block: 4rem;
}

.col-md-4 .happenings_img1_detail {
    width: 445px;
    background: #336E8C;
    padding-inline: 0rem;
    padding-block: 0rem;
    margin-left: 7.5rem;
    margin-top: -10.3rem;
}

section.happenings .col-md-4 {
    padding-right: 2rem;
}

.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(50% /(var(--ratio)));
}


.horizontal {
    padding: 60px 20px 120px;
    box-sizing: border-box;
}

.horizontal__container {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.horizontal__list {
    display: flex;
    padding-left: calc(29vw - 600px / 2);
}

.horizontal__item {
    margin-left: 30px;
    box-sizing: border-box;
}

.horizontal__item:first-of-type {
    margin-left: 0;
}

.swiper-slide:hover figure img {
    transform: scale(1.1);
}


.swiper-slide.swiper-slide-active figure.img_zoom figcaption {
    transform: translate(0px, 0px);
    opacity: 1;
}

.swiper-slide:nth-child(1).swiper-slide-active figure.img_zoom figcaption {
    transition-delay: 1s;
}

.first-slide-active figure.img_zoom figcaption {
    transition-delay: 1s;
    /* Any other styles you want to apply */
}

@media (max-width:2400px) {
    .v-group.last-slide {
        /* top: 8% !important; */
    }


}

.home_banner {
    position: relative;
    height: 100vh;
    /* Ensures the banner takes up the full viewport height */
}

.v-group {
    position: absolute;
    bottom: 0rem;
    /* Initially set at 78% */
    height: 245px;
    /* Fixed height */
    z-index: 99;
    /* transform: translateX(-50%); */
    /* Center horizontally */
    transition: top 0.3s ease-in-out;
    /* Smooth transition for top */
    /* transition: all 0.5s ease-in-out; */
    left: 0;
}

/* First Slide */
.v-group.first-slide {
    /* top: 65%!important; */
    /* For the first slide, 65% of window height */
    transition: all 0.5s ease-in-out;
}

/* Second Slide */
.v-group.second-slide {
    /* top: 32%; */
    /* For the second slide, 32% of window height */
    transition: all 0.5s ease-in-out;
}

/* Last Slide */
.v-group.last-slide {
    /* top: 0%; */
    /* For the last slide, top position 0% */
    transition: all 0.5s ease-in-out;
}

/* Media Queries for Adjustments */
@media (max-width: 768px) {
    .v-group.first-slide {
        top: 75%;
        /* Adjust top position for first slide on smaller screens */
    }

    .v-group.second-slide {
        top: 50%;
        /* Adjust top position for second slide on smaller screens */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .v-group.first-slide {
        top: 70%;
        /* Adjust for tablet-sized screens */
    }
}



/*new banner css*/

.hero-slider {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 0;
}

/*BANNER CSS*/
section.home_banner {
    overflow: hidden;
    position: relative;
    z-index: 9;
}

html {
    height: fit-content;
}

.swiper-slide.swiper-slide-active h2 .home-bnr-subhead1 {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeIndown;
    animation-delay: .9s;
}

.swiper-slide.swiper-slide-active .home-bnr-subhead2 p {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 1s;
}

span.home-bnr-subhead1 {
    font-size: var(--font-60);
    letter-spacing: -2.88px;
    line-height: 1.15;
    margin-bottom: 2rem;
    display: block;
    font-weight: bold;
    position: relative;
    padding-top: 2.1rem;
}

.item_detail {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

span.home-bnr-subhead2 p {
    font: var(--font-18);
    font-weight: 300;
    font-family: var(--font-family-heading);
}



.hero-style {
    height: 90vh;
    transition: all .4s ease;
}

section.read-more-section .read-more {
    padding: 1.5rem 9rem 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

section.read-more-section a.explore-more2 {
    position: absolute;
    right: 80px;
}

.hero-slider .swiper-slide {
    overflow: hidden;
    color: #fff;
}

.hero-slider .swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-slider .slide-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
    background: transparent;
    width: 55px;
    height: 55px;
    line-height: 53px;
    margin-top: -30px;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 55px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

@media (max-width: 767px) {

    .hero-slider .swiper-button-prev,
    .hero-slider .swiper-button-next {
        display: none;
    }
}

.hero-slider .swiper-button-prev {
    left: 25px;
    transform: translateX(50px);
}

.hero-slider .swiper-button-prev:before {
    font-family: "Font Awesome 5 Free";
    content: "\f060";
    font-size: 15px;
    color: #fff;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

.hero-slider .swiper-button-next {
    right: 25px;
    transform: translateX(-50px);
}

.hero-slider .swiper-button-next:before {
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-size: 15px;
    color: #fff;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    text-align: center;
    line-height: 21px;
    font-size: 13px;
    color: #000;
    opacity: 1;
    background: #ffffff54;
    transition: all .2s ease;
    margin: 0 .8rem;
    font-weight: normal;
    text-indent: -999999px;
}

.hero-slider .swiper-pagination-bullet-active {
    opacity: 1;
    width: 24px;
    height: 24px;
    background: #ed1c2452;
    position: relative;
    bottom: 0;
    line-height: 27px;
    color: #fff;
    text-indent: 0px;
}

.hero-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
    bottom: 30px;
    display: none;
}

@media screen and (min-width: 992px) {

    .swiper-pagination {
        text-align: left;
    }

    .hero-slider .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 50px;
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 767px) {
    .hero-slider .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 30px;

    }
}

/*--------------------------------------------------------------
    #hero-style
--------------------------------------------------------------*/
.hero-style {
    height: 100vh;
    transition: all .4s ease;
}


@media screen and (min-width: 992px) {
    .hero-style .container {
        padding-top: 0;
    }
}

.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
    max-width: 690px;
}

.hero-style .slide-title h2 {
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
    color: #ffffff;
    margin: 0 0 40px;
    text-transform: capitalize;
    transition: all .4s ease;
}

@media (max-width: 1199px) {
    .hero-style .slide-title h2 {
        font-size: 75px;
    }
}

@media (max-width: 991px) {
    .hero-style .slide-title h2 {
        font-size: 50px;
        margin: 0 0 35px;
    }
}

@media (max-width: 767px) {
    .hero-style .slide-title h2 {
        font-size: 35px;
        margin: 0 0 30px;
    }
}

.hero-style .slide-text p {
    transition: all .4s ease;
    position: relative;
    z-index: 3;
}

@media (max-width: 767px) {
    .hero-style .slide-text p {
        font-size: 16px;
        font-size: 1rem;
        font-weight: normal;
        margin: 0 0 30px;
    }
}

.hero-style .slide-btns>a:first-child {
    margin-right: 10px;
}


.swiper-slide.swiper-slide-active .line-top:after {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    height: 100%;
    animation-name: fadeInline;
    animation-delay: 1.8s;
}

.swiper-slide .line-top:after {
    width: 10px;
    height: 0px;
    background: #E6001A;
    content: "";
    position: absolute;
    top: 0px;
    right: -25px;
    z-index: 99999;
}



@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(3.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIndown {
    0% {
        opacity: 0;
        transform: translateY(-3.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInline {
    0% {
        opacity: 0;
        width: 0%
    }

    100% {
        opacity: 1;
        width: 150px;
    }
}

.item_name {
    /* position: absolute; */
    /* left: 15rem; */
    /* bottom: 15rem; */
    position: relative;
    padding-inline: 8rem;
    margin-top: 25rem;
}

.container-new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.swiper-slide-active .v-line {
    opacity: 1;
    visibility: visible;
    height: 239px;
}

section.swipe-pag {
    position: absolute;
    top: 62%;
    z-index: 99;
    /* background: #fff; */
    width: 100%;
    height: 10%;
}

section.swipe-pag .swiper-pagination {
    position: absolute;
    bottom: 10rem;
    right: 10rem;
}

.swiper-pagination-bullet-active {
    background: #fff;
    text-indent: -99999px;
}

.home_banner .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 100%;
    background: #ffffff8a;
    opacity: 1;
    text-indent: -99999px;
    margin: 2rem;
}

.home_banner .swiper-pagination-bullet-active {
    background: #fff;
}

span.home-bnr-subhead1:before {
    content: "";
    width: 100px;
    height: 1px;
    background: #FFF560;
    position: absolute;
    top: 0;
}


/*new element css*/


.eng_box1.common_text {
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
}

.eng_box1.common_text>* {
    grid-area: 1/1;
}

.eng_text {
    padding: 5rem;
    color: #fff;
    position: relative;
}

.eng-fact {
    position: absolute;
    bottom: 0;
    padding: 2rem 5rem;
    color: #fff;
}

.common_text h2 {
    font-size: 21px;
    margin-bottom: 2rem;
    font-weight: 600;
}

.common_text p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 3rem;
    font-family: var(--font-family-heading);
    line-height: 1.4;
}

.common_text .read_more {
    color: #fff;
}

.eng-fact h3 {
    font-size: 72px;
    font-family: var(--font-family-heading);
    /* letter-spacing: -5px; */
    margin-bottom: 0;
}

.box1_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    color: #fff;
}

.box2_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
}

#video-people {
    object-fit: cover;
    display: block;
}

.video-text {
    padding-inline: 5rem;
    padding-block: 5rem;
    background: #F57C00;
}

.box2_item .video-text {
    background: #004A70;
}

section.new_panel {
    background: #f2f2f2;
    padding-bottom: 12rem;
    margin-top: -23rem;
}

.video-text h2 {
    position: relative;
}

.video-text h2:before {
    content: "";
    width: 112px;
    height: 1px;
    background: #E4C2FC;
    position: absolute;
    left: -14rem;
    top: 1.4rem;
}

.box2_item .video-text h2:before {
    display: none;
}

.box2_item .video-box:before {
    content: "";
    width: 112px;
    height: 1px;
    background: #ec801f;
    position: absolute;
    left: -9rem;
    top: 6rem;
    /* left: inherit; */
    z-index: 9;
}

.video-box {
    position: relative;
}

.fact_num {
    color: #fff;
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    z-index: 9;
}

.fact_num h5 {
    font-size: 48px;
    color: #fff;
    opacity: 1;
    font-weight: 600;
    position: relative;
    font-family: var(--font-family-heading2);
}

.fact_num h5:before {
    content: "";
    width: 60px;
    height: 1px;
    background: #AEEA00;
    position: absolute;
    left: -9rem;
    top: 3.2rem;
    /* left: inherit; */
    z-index: 9;
}

.home-sterving-better-sec .img_des p {
    font-size: var(--font-18);
    font-weight: 300;
}

.eng_img video {
    width: 100%;
    height: 680px;
    object-fit: cover;
}

li.ps_d a:hover {
    background: #fff;
    color: #F57C00;
    border: 1px solid #fff;
}

li.ps_d a svg {
    stroke: currentColor;
}