@using System.Data;
@model skipper_group_new.Models.clsHomeModel;
@using skipper_group_new.mainclass;

@{
    Layout = "~/Views/Shared/_engineering.cshtml";
    DataTable dt = ViewBag.ProductList as DataTable;
}
@Html.Raw(Model.Description)

<section id="ctl00_ContentPlaceHolder1_panel1" class="product_sec eng-prod">
    <div class="container">
        <div class="product_sec_slider">
            <div class="title">
                <h3 data-aos="fade-up" data-aos-delay="300">Services </h3>
            </div>
            <div class="product-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide_bx">
                            <figure>
                                <a href="infrastructure/transmission-epc"
                                   id="ctl00_ContentPlaceHolder1_rptproductlist_ctl00_ank">
                                    <img id="ctl00_ContentPlaceHolder1_rptproductlist_ctl00_img1"
                                         class="img-fluid w-100"
                                         src="uploads/ProductsImage/11himg_transmissionepc.webp"
                                         border="0" />
                                </a>
                                <figcaption>
                                    <p>Transmission EPC</p>
                                </figcaption>
                                <img src="images/icon/subtraction-11.svg" alt="subtraction-11"
                                     class="icon-top">
                            </figure>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide_bx">
                            <figure>
                                <a href="infrastructure/substation-epc"
                                   id="ctl00_ContentPlaceHolder1_rptproductlist_ctl01_ank">
                                    <img id="ctl00_ContentPlaceHolder1_rptproductlist_ctl01_img1"
                                         class="img-fluid w-100" src="uploads/ProductsImage/12himg_eng-pro2.webp"
                                         border="0" />
                                </a>
                                <figcaption>
                                    <p>Substation EPC</p>
                                </figcaption>
                                <img src="images/icon/subtraction-11.svg" alt="subtraction-11"
                                     class="icon-top">
                            </figure>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide_bx">
                            <figure>
                                <a href="infrastructure/tower-epc"
                                   id="ctl00_ContentPlaceHolder1_rptproductlist_ctl02_ank">
                                    <img id="ctl00_ContentPlaceHolder1_rptproductlist_ctl02_img1"
                                         class="img-fluid w-100" src="uploads/ProductsImage/13himg_eng-pro3.webp"
                                         border="0" />
                                </a>
                                <figcaption>
                                    <p>Telecom EPC</p>
                                </figcaption>
                                <img src="images/icon/subtraction-11.svg" alt="subtraction-11"
                                     class="icon-top">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-div">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video_sec image-container">
    <a href="/video/engineering_video.mp4" data-fancybox="gallery"
       data-caption="Caption Images 1">
        <figure>
            <img src="images/video-banner.webp" alt="video-banner" class="img-fluid w-100" />
            <figcaption>
                <h6 data-aos="fade-up" data-aos-delay="300">
                    Skipper is one of the largest manufacturers of
                    value-added Steel products.
                </h6>
                <div class="ply-btn" data-aos="fade-up" data-aos-delay="350">
                    <img src="images/icon/play-icon.svg" alt="play-icon" />
                </div>
            </figcaption>
        </figure>
    </a>
</section>
<section id="ctl00_ContentPlaceHolder1_panelproject" class="featured_project">
    <div class="scroll-spacer"></div>
    <div class="trigger-placeholder"></div>
    <div class="icon_project">
        <figure><img src="images/icon/Subtraction-4.svg" class="img-fluid"></figure>
    </div>
    <div class="container">
        <h2>Featured Projects</h2>
        <div class="project_slider">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-container">
                            <div class="slider_grid">
                                <div id="ctl00_ContentPlaceHolder1_rptinnerleft_ctl00_panelleft"
                                     class="left-slide">
                                    <div class="corner-accent">
                                        <figure>
                                            <img src="uploads/SmallImages/16krs-pro-14.webp"
                                                 class="img-fluid ">
                                        </figure>
                                    </div>
                                    <div class="text-content">
                                        <div class="bottom_left_icon">
                                            <img src="images/icon/Subtraction-6.svg"
                                                 class="img-fluid">
                                        </div>
                                        <div class="project-title">STERLITE, WRNER</div>
                                        <div class="description">400kv D/C Monopoles</div>
                                    </div>
                                    <div class="voltage"></div><a href="/project-details.aspx?mpgid=5&pgidtrail=5&projectid=16"
                                                                  id="ctl00_ContentPlaceHolder1_rptinnerleft_ctl00_ank"
                                                                  class="streched_link"></a>
                                </div>
                                <div id="ctl00_ContentPlaceHolder1_panelright" class="right-container">
                                    <div id="ctl00_ContentPlaceHolder1_rptinnerright_ctl00_panel1"
                                         class="right-top">
                                        <div class="corner-accent">
                                            <figure>
                                                <img src="uploads/SmallImages/17krs-pro-15.webp"
                                                     class="img-fluid ">
                                            </figure>
                                        </div>
                                        <div class="text-content">
                                            <div class="bottom_left_icon">
                                                <img src="images/icon/Subtraction-6.svg" class="img-fluid">
                                            </div>
                                            <div class="project-title">MSRDC, MSETCL</div>
                                            <div class="description">
                                                220kv D/C Monopoles, 400kv D/C Monopoles
                                            </div>
                                        </div>
                                        <div class="voltage"></div><a href="/project-details.aspx?mpgid=5&pgidtrail=5&projectid=17"
                                                                      id="ctl00_ContentPlaceHolder1_rptinnerright_ctl00_ank"
                                                                      class="streched_link"></a>
                                    </div>
                                    <div id="ctl00_ContentPlaceHolder1_rptinnerright_ctl01_panel1"
                                         class="right-bottom">
                                        <div class="corner-accent">
                                            <figure>
                                                <img src="uploads/SmallImages/18krs-Torrent-sbanner.webp"
                                                     class="img-fluid ">
                                            </figure>
                                        </div>
                                        <div class="text-content">
                                            <div class="bottom_left_icon">
                                                <img src="images/icon/Subtraction-6.svg" class="img-fluid">
                                            </div>
                                            <div class="project-title">TORRENT</div>
                                            <div class="description">220kv M/C And D/C Monopoles</div>
                                        </div>
                                        <div class="voltage"></div><a href="/project-details.aspx?mpgid=5&pgidtrail=5&projectid=18"
                                                                      id="ctl00_ContentPlaceHolder1_rptinnerright_ctl01_ank"
                                                                      class="streched_link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button_group d-none">
                    <div class="container">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="view_all">
                        <a href="/projects.aspx?mpgid=5&pgidtrail=5">
                            View All Projects
                            <figure><img src="images/icon/right_icon.svg"></figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
